<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	
<style>


.left {
background: #27D786;
float: left;
border-radius: 5px;
padding: 5px;
margin: 5px;
min-width: 1px;
max-width: 500px;
}

.right {
background: #5F9ADD;
float: right;
border-radius: 5px;
padding: 5px;
margin: 5px;
min-width: 1px;
max-width: 500px;
}

.clear:after{ content:".";visibility:hidden;height:0;display:block;clear:both;}
</style>

<div style="width: 600px; height: 200px; overflow: auto; background: grey; clear: both">
	<div class="clear">
		<div class="left">123</div>
	</div>

	<div class="clear">
		<div class="right">123 hello world</div>
	</div>
	<div class="clear">
		<div class="right">12123 hello world123 hello world123 hello world123 hello world123 hello world3</div>
	</div>
	<div class="clear">
		<div class="right">这是一片很寂寞的天
下着有些伤心的雨
这是一个很在乎的我</div>
	</div>
	<div class="clear">
		<div class="right">为了那得到又失去的美丽
就让这擦干又流出的泪水
化作漫天相思的雨
为了那苍白的爱情的继续</div>
	</div>
	<div class="clear">
		<div class="right">123</div>
	</div>
	<div class="clear">
		<div class="right">123</div>
	</div>
</div>


</body>
</html>
