<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
<link rel="stylesheet" href="http://www.tuling123.com/openapi/cloud/css/turingstyle.css"></link>
<link rel="stylesheet" href="http://www.tuling123.com/openapi/cloud/css/proexp.css"></link>
</head>
<body>
<!-- 1 start -->
<div class="g-bd">
			<!-- 产品体验开始 -->
			<div class="m-pro-exp center-block">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td class="m-pro-exp-l" width="23">
							&nbsp;
						</td>
						<td class="m-pro-exp-mn" valign="top">
							<h5 class="m-pro-exp-tt">
								图灵机器人
							</h5>
							<!-- 信息展示框 -->
							<div class="m-exp-dia" id="chat_message">
								
								<div>
									<div class="tuling-mn">
										<img src="/openapi/cloud/images/proexp_011.jpg" class="pull-left">
											<span class="pull-left tuling">你好！</span>
									</div>
								</div>

							<div><div class="tuling-mn"><img src="../cloud/images/proexp_014.jpg" class="pull-right"><span class="pull-right tuling tuling2">hello</span></div></div><div><div class="tuling-mn"><img src="../cloud/images/proexp_011.jpg" class="pull-left"><span class="pull-left tuling">int . 喂；哈罗<br>n . 表示问候， 惊奇或唤起注意时的用语</span></div></div><div><div class="tuling-mn"><img src="../cloud/images/proexp_014.jpg" class="pull-right"><span class="pull-right tuling tuling2">who am i</span></div></div><div><div class="tuling-mn"><img src="../cloud/images/proexp_011.jpg" class="pull-left"><span class="pull-left tuling">n . 显示本用户信息</span></div></div></div>
							<!-- 输入框部分 -->
							<div class="m-pro-exp-input">
								<div class="ico">
									<span><a href="javascript:void(0)"><img src="/openapi/cloud/images/proexp_015.jpg">
									</a>
									</span>
									<span class="ico2"><a href="javascript:void(0)"><img src="/openapi/cloud/images/proexp_016.jpg">
									</a>
									</span>


									<span style="display: none">&nbsp;&nbsp;
										<a href="/openapi/cloud/register.jsp">[快速注册]</a>
									</span>
								</div>

								<!-- 输入框 -->
								<div class="input">
									<textarea style="border: 1px solid white; outline: none;" name="textarea" id="textarea" tabindex="1"></textarea>
								</div>
								<!-- 发送按钮 -->
								<div class="menu">
									<input id="submit" value="发送" type="submit">
								</div>
							</div>
						</td>
						<td class="m-pro-exp-r" valign="top" width="229">
							<h5 class="m-pro-exp-tt m-pro-exp-tt2">
								功能列表
							</h5>
							<!-- overflow-y: scroll; overflow-x: hidden; -->
						 <div style="margin-top: 10px;margin-right: 7px;height: 430px; width: 223px;">
							<ul class="m-pro-exp-menu">
								<li>
									<a href="javascript: showInfo('1')"><img src="/openapi/cloud/images/ico_19.png">
										<p>
											聊天
										</p> </a>
								</li>
								<li>
									<a href="javascript: showInfo('2')"><img src="/openapi/cloud/images/ico_10.png">
										<p>
											笑话
										</p> </a>
								</li>
								
								<li>
									<a href="javascript: showInfo('7')"><img src="/openapi/cloud/images/ico_06.png">
										<p>
											图片
										</p> </a>
								</li>
																<li>
									<a href="javascript: showInfo('10')"><img src="/openapi/cloud/images/ico_32.png">
										<p>
											天气
										</p> </a>
								</li>
								<li>
									<a href="javascript: showInfo('12')"><img src="/openapi/cloud/images/ico_06.png">
										<p>
											翻译
										</p> </a>
								</li>
								<li>
									<a href="javascript: showInfo('14')"><img src="/openapi/cloud/images/ico_09.png">
										<p>
											问答
										</p> </a>
								</li>
								<li>
									<a href="javascript: showInfo('18')"><img src="/openapi/cloud/images/ico_21.png">
										<p>
											百科
										</p> </a>
								</li>
									<li>
									<a href="javascript: showInfo('21')"><img src="/openapi/cloud/images/ico_03.png">
										<p>
											故事
										</p> </a>
								</li>
								<li>
									<a href="javascript: showInfo('11')"><img src="/openapi/cloud/images/ico_13.png">
										<p>
											新闻
										</p> </a>
								</li>
								<li>
									<a href="javascript: showInfo('13')"><img src="/openapi/cloud/images/ico_25.png">
										<p>
											菜谱
										</p> </a>
								</li>
								<li>
									<a href="javascript: showInfo('4')"><img src="/openapi/cloud/images/ico_11.png">
										<p>
											星座
										</p> </a>
								</li>
								
								<!--  
								<li>
									<a  href="javascript: showInfo('3')"><img
											src="/openapi/cloud/images/ico_05.png">
										<p>
											周边
										</p> </a>
										
								</li>
								<li>
									<a href="javascript: showInfo('5')"><img
											src="/openapi/cloud/images/ico_16.png">
										<p>
											小游戏
										</p> </a>
								</li>
								
								<li>
									<a href="javascript: showInfo('6')"><img
											src="/openapi/cloud/images/ico_08.png">
										<p>
											诗词
										</p> </a>
								</li>
								
								<li>
									<a href="javascript: showInfo('8')"><img
											src="/openapi/cloud/images/ico_15.png">
										<p>
											歌词
										</p> </a>
								</li>
								
								<li>
									<a href="javascript: showInfo('9')"><img
											src="/openapi/cloud/images/ico_17.png">
										<p>
											电影
										</p> </a>
								</li>
								
								<li>
									<a href="javascript: showInfo('15')"><img
											src="/openapi/cloud/images/ico_20.png">
										<p>
											时间
										</p> </a>
								</li>
								<li>
									<a href="javascript: showInfo('16')"><img
											src="/openapi/cloud/images/ico_33.png">
										<p>
											下载
										</p> </a>
								</li>
								<li>
									<a href="javascript: showInfo('17')"><img
											src="/openapi/cloud/images/ico_18.png">
										<p>
											公交
										</p> </a>
								</li>
								<li>
									<a href="javascript: showInfo('19')"><img
											src="/openapi/cloud/images/ico_12.png">
										<p>
											计算
										</p> </a>
								</li>
								<li>
									<a href="javascript: showInfo('20')"><img
											src="/openapi/cloud/images/ico_27.png">
										<p>
											打开网站
										</p> </a>
								</li>
								-->
								
							
							</ul>
					</div>
						</td>
						
					</tr>
				</tbody></table>
			</div>
			<!-- 产品体验结束 -->
		</div>


<!-- 1 end -->
</body>
</html>
